.qualification__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}
.timeline{
    background-color: var(--container-colors);
    padding: 1.875rem;
    border-radius: var(--border-radius);
    position: relative;
    box-shadow: var(--shadow);
    
}
.timeline__item{
    position: relative;
    padding-left: 3.125rem;
    padding-bottom: 2.125rem;
}
.timeline__item:last-child{
    padding-bottom: 0;
}
.timeline__item::before{
    content: "";
    width: 1px;
    height: 100%;
    background-color: var(--title-color);
    position: absolute;
    left: .25rem;
    top: 0;
    
}
.timeline .bxs-briefcase,
.timeline .bxs-graduation{
    position: absolute;
    left: -0.4375rem;
    top: 0;
    font-size: var(--small-font-size);
    color: var(--title-color);
    background-color: var(--container-color);
    padding: 0.4375rem 0;
} 
.timeline__date {
    color: #8b88b1;
    font-size: var(--small-font-size);

}
.timeline__title {
    font-weight: var(--font-semi-bold);
    margin: 0.5rem 0;
}
.qualification__title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


/*---- breakpoints---*/
/*for large devices */
@media screen and (max-width:992px){
  .qualification__container{
    margin-left: auto;
    margin-right: auto;

  }  
  
  }
  /* for medium devices */
  @media screen and (max-width:768px){
  .qualification__container{
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);

  }
    
  }
  @media screen and (max-width:576px){
    .qualification__sections{
        grid-template-columns: initial;

        
    }
    .qualification__button{
        margin: 0 var(--mb-0-75);
    }
    
  }
  /* For small devices */
  @media screen and (max-width:350px){
    .qualification__data{
        gap: 0.25rem;
    }
    .timeline__item{
    font-size: var(--small-font-size);

    }
   
   
  
  }
  
  
  
  
  
  
  
  
  
  